<%= render 'client_apps/profile' do %>
  <div class="row">
    <div class="col m6 s12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Recent Errors</span>
          <ul>
            <% @recent_errors.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
        <div class="card-action">
          <a href="#">View All</a>
        </div>
      </div>
    </div>
    <div class="col m6 s12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Error Rate</span>
          <div class='text-center'>
          <h1>3%</h1>
          </div>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col m6 s12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Error Rate</span>
          <div class='text-center'>
          <h1>3%</h1>
          </div>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col m6 s12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
<% end %>
